@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --main-color: #ff6a66;
  --primary-color: #374cb7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --main-color: #ff6a66;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--main-color);
}

.animation-confeti {
  animation: confeti 0.25s 1s linear forwards;
}

@keyframes confeti {
  0% {
    opacity: 0;
    max-height: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 100%;
  }
}


.animation-go {
  animation: go .4s .5s linear forwards;
  aspect-ratio: 1;
}

@keyframes go {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 4000px;
    height: 4000px;
  }
}

.animation-start,.animation-result{
  animation: start .2s 0s linear forwards;
}

@keyframes start {
  to {
    height: 100vh;
   
  }
}

.animation-next{
  animation: next 1s 0s linear forwards;
}

@keyframes next {
  0% {
    opacity: 1;
    margin-left: 0%;
  }
  40% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
    margin-right: -100%;
  }
  60% {
    opacity: 0;
    margin-right: -100%;
  }
  100% {
    opacity: 1;
    margin-right: 0%;
  }
}