@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --main-color: #FF6A66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --main-color: #FF6A66;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--main-color);
}
